* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0; /* Set your desired background color */
  background-image: url("../assets/backgrounds/sunrise.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}